//  mixin样式的封装
/*
*   向下和向上的箭头
*/
@mixin triangle-facing-right {  
    display: inline-block;  
    margin: 72px;  
    border-right: 24px solid; border-bottom: 24px solid;  
    width: 120px; height: 120px;  
    transform: rotate(-45deg);  
}  
@mixin triangle-facing-left {  
    display: inline-block;  
    margin: 72px;  
    border-left: 24px solid; border-bottom: 24px solid;  
    width: 120px; height: 120px;  
    transform: rotate(45deg);  
} 
/*
*   超出不换行，省略号
*/
@mixin nowrap-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}